

/* The flavor of trandition */
.flavor {
    padding: 10rem 0;
}

/*  */

/* Our Specials */
.ourSpecials {
    padding: 15rem 0 10rem;
}
.ourSpecials .items {
    background-color: var(--lightGreen-1);
    border-radius: 1.2rem;
}
.ourSpecials .items .img {
    overflow: hidden;
    border-radius: 1.2rem;
    margin-top: calc(-50% - 1rem);
    margin-bottom: 2rem;
}
/*  */
/* top Dishes */
.topDishes {
    padding: 10rem 0;
}
.topDishes .items {
    background-color: var(--lightGreen-1);
    padding: 1.5rem 1rem;
    border-radius: 1.2rem;
    height: 100%;
}
/*  */

/* Discount */
.discount {
    padding: 10rem 0;  
}
.discount_wrap {
    background: var(--lightGreen-1) url(../Img/discount-illustration.png) no-repeat bottom right / 10rem;
    border-radius: 1.5rem;
}
/*  */

/* event */
.event {
    padding: 10rem 0;
}
.event1 {
    position: relative;
}
.event1 img:nth-child(2) {
    width: 20%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;  
}
/*  */