* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightGreen: #75ce4c;
    --lightBlue-5: #3eccc0;
    --lightBlue-6: #89ecec;
    --lightBlue-7: #bdf7f3;
    --red: #fb6c5c;
}
th, td {
    text-align: left;
    padding: 1.5rem;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}


/* Design phần bên trên dish */
.add_dish {
    color: #fff;
    border-radius: 5px;
    background-color: var(--lightGreen);
    width: 11rem;
    padding: 0.8rem;
    font-size: 1.1rem;
}

.search_dish button {
    background-color: var(--lightBlue-5);
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 0.8rem;
    margin-left: 0.5rem;
    width: 8rem;
    font-size: 1.1rem;
}

.search_dish input {
    width: 14rem;
    padding: 0.5rem;
}
.search_dish {
    display: flex;
}

.chucNang_dish {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.search_dish button:hover, .add_dish:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Design phần dish */
.dish_title {
    font-size: 2rem;
}
.dish_list {
    width: 100%;
}

.row_dish {
    background-color: var(--lightBlue-7);
}
.dish_item-manipulation i {
    font-size: 1.2rem;
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: #fff;
}
.dish_item-manipulation i:first-child {
    background-color: var(--lightGreen);
}
.dish_item-manipulation i:nth-child(2) {
    background-color: var(--lightBlue-5);
}
.dish_item-manipulation i:last-child {
    background-color: var(--red);
}

.dish_item-manipulation i:hover {
    cursor: pointer;
    opacity: 0.8;
}

.dish_item:hover {
    background-color: var(--lightBlue-6);
}

.table_dish {
    height: 50%;
    overflow:auto;
}
@media screen and (max-width: 576px){
    .chucNang_dish {
        flex-direction: column;
        margin-bottom: 0.5rem;
    }
    .search_dish {
        justify-content: space-between;
        margin-top: 1rem;
    }
}

/*  */
.thongtinmonan {
    background: #75ce4c;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);
    pointer-events: none;
    opacity: 0;
    transition: all .5s;
}
.form label, .form input {
    width: 100%;
    padding: 5px 20px;
}
.form label {
    font-size: 18px;
}
input {
    outline: none;
}
.over {
    width: 1000vw;
    height: 1000vh;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.3);
    z-index: -99;
}
.thongtinmonan.active {
    opacity: 1;
    pointer-events: all;
}